<div id="<%= dom_id item %>">

  <p>
    <%= image_tag(item.image, style:'width:10%') %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

</div>
