<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name,required: true%>
  </div>

  <br>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select(:category, options_for_select([['Furniture','Furniture'],['Clothing','Clothing'],['Sports','Sports'],['Health','Health'],['Tools','Tools'],['Toys','Toys'],['Food','Food'],['Books','Books']]),required: true)%>
  </div>

  <br>


  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description ,required: true%>
  </div>

  <br>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity,required: true %>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
